.docheadingbg {
    background-color:rgb(134, 224, 197);
    border: solid rgb(134, 224, 197);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width:auto;
  }

.pgbg1 {
    background-color:rgb(218, 236, 231);
    border: solid rgb(218, 236, 231);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

.myDiv {
  margin-top: 40px;
  margin-bottom: 40px;

}

.myDiv2 {
  margin-top: 40px;

}

.headingHR {
  clear:both; 
  color:rgb(134, 224, 197); 
  background-color: rgb(134, 224, 197); 
  margin:0;

}
/* code for .box and .box .text attributable to: 
  https://www.tutorialrepublic.com/faq/how-to-position-text-over-an-image-using-css.php  
   */

.box {
    position: relative;
    display:inline-block;
  }

.box .text {

    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 5%; 
    text-align: center;
    width: 60%; 
  }
/* code for aside attributable to: 
  https://www.w3schools.com/TAGS/tryit.asp?filename=tryhtml5_aside2 */

aside {
    
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    
  }

.textMainPg {

    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 100%;
    top: 2050px; 
    text-align: left;
    width: 60%; 
  } 




