h1 {
    font-size:48px;
    color: blue;
  }
  
p {
    font-family: monospace;
    color: black;
  }
  
div#my-divider {
    border: 2px solid #000;
    height: 300px;
    width: 300px;
  }
  
ul { list-style:none; }
  
li.horizontal { display: inline; }
  
.bottom { color:red; }