.docheadingbg {
    background-color:rgb(134, 224, 197);
    border: solid rgb(134, 224, 197);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width:auto
  }

.pgbg1 {
    background-color:rgb(218, 236, 231);
    border: solid rgb(218, 236, 231);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

.myDiv {
  margin-top: 40px;
  margin-bottom: 40px;

}

.myDiv2 {
  margin-top: 40px;

}
/* code for .box and .box .textattributable to: 
  https://www.tutorialrepublic.com/faq/how-to-position-text-over-an-image-using-css.php  
  Also mentioned in readme. */

.box {
    position: relative;
    display:inline-block;
  }

.box .text {

    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 100%;
    top: 100%; 
    text-align: left;
    width: 60%; 
  }

/*trying to make background image work */
.bgimg1 {
    background-image: url("Florida Keys pic 1.jpg");
    background-size: cover;

  } 


